.mainContainer {
  background-color: transparent;
  height: fit-content;
  width: 100%;
  max-width: 1400px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in;
  padding: 10px 5%;
}

.mainContainer.active {
  top: 3%;
  background-color: #fdfdfd;
  width: 90%;
  border-radius: 20px;
  border: 2px solid #dc0029;
  box-shadow: rgba(220, 0, 41, 0.1) 0px 10px 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menuList {
  display: flex;
  align-items: center;
}

.menuItem {
  padding: 0 10px;
  color: #858585;
}

.menuItem::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.menuItem:hover {
  color: #000000;
}

.menuItem:hover::after {
  background-color: #dc0029;
}

.navRight {
  display: flex;
  align-items: center;
}

.navRight button {
  all: unset;
  padding: 8px 15px;
  background-color: #fff0f7;
  color: #dc0029;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
}
.inputSearch {
  position: absolute;
  right: 45px;
  padding: 10px;
  width: 0px;
  height: 35px;
  visibility: hidden;
  background-color: #fdfdfd;
  padding: 5px 8px;
  border-radius: 10px;
  border: solid 2px #ef394e;
  outline: none;
  transition: all 0.3s ease-in;
}

.searchIconBox {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3 ease-in;
}

.searchBox:hover input {
  visibility: visible;
  width: 150px;
  height: 35px;
}

.searchBox:hover .searchIconBox {
  background-color: #fff0f7;
}

.navLeft {
  width: 45px;
}

.iconContainer {
  position: relative;
  margin: 0 1.5rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3 ease-in;
}

.iconContainer:hover {
  background-color: #fff0f7;
}

.iconContainer span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ce0219;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.search {
  background-color: #fdfdfd;
  padding: 5px 8px;
  border-radius: 3rem;
  border: solid 2px #ef394e;
}

.search:focus {
  outline: none;
}

.burgerIcon {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3 ease-in;
}

.burgerIcon:hover {
  background-color: #fff0f7;
}

.mobileMenu {
  z-index: 999999;
  width: 0;
  height: 0;
  left: 0;
  border-radius: 50%;
  position: fixed;
  transition: width 0.3s ease-in;
}

.mobileMenu.activeMenu {
  width: 100vw;
  height: 100vh;
}

.menuListMobile {
  position: absolute;
  right: 0;
  background-color: #fdfdfd;
  height: 100vh;
  width: 50vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuItemMobile {
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.menuItemMobile:hover {
  background-color: #fff0f7;
}

.mobileClose {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3 ease-in;
  cursor: pointer;
}

.mobileClose:hover {
  background-color: #fff0f7;
}

.mobileBg {
  background-color: #00000021;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .burgerIcon {
    display: flex;
  }

  .menuList {
    display: none;
  }

  .navRight button {
    display: none;
  }
}
