.mainContainer {
  background-color: #fff;
  height: fit-content;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 180px;
}

.productLink {
  text-decoration: none;
  color: #ef394e;
  font-weight: bold;
  border-bottom: 3px solid #ef394e;
  border-radius: 2px;
  padding: 0 1px;
  transition: all 0.2s ease;
}

.productLink:hover {
  color: #ce0219;
  border-bottom-color: #ce0219;
}

.iconContainer {
  position: relative;
}

.iconContainer img {
  width: 40px;
  color: #ef394e;
}

.iconContainer span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ce0219;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.search {
  background-color: #fdfdfd;
  padding: 5px 8px;
  border-radius: 3rem;
  border: solid 2px #ef394e;
}

.search:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    padding: 15px 20px;
  }
}
