.perload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  height: 80vh;
  width: 100%;
  transition: all 0.3s ease;
  position: absolute;
  border-radius: 10px;
}

.perload img {
  width: 400px;
  height: 200px;
}
