.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 50px;
}

.product {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    padding: 15px 50px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    justify-content: center;
    padding: 15px 10px;
  }
}
